/* ------------------ WEBSITE GENERAL STYLING ------------------ */
body{
    --background-color: black;
    --main_color: rgb(27, 27, 27);
    --accent_color1: rgb(233, 195, 25);
    --accent_color2: rgb(168, 168, 168);
    --accent_color3: gray;

    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

    margin: 0;
    padding: 0;

    display: grid;
    justify-content: center;
    align-content: center;

    height: 100%;
}
.website-container{
    width: 55vw;

    height: 100%;

    padding: 0em 1em 2em;

    background-color: var(--main_color);
    color: white;
}
a{
    text-decoration: none;
    color: var(--accent_color1);
}
/* ------------------ WEBSITE HEADER CSS ------------------ */
.logo{
    height: 100px;
    width: auto;
    margin: 0em 1em 0em;
}
.header{
    margin: 0em 2em 2em;
    }
    .header ul li{
        list-style: none;
    }
        .top-bar{
            display: flex;
            margin: none;

            columns: 2;
            column-gap: 5em;
            align-items: center;

           
        }
        .top-bar a{
            color: var(--accent_color3);
            font-size: .8em;
        }
        .top-bar ul li{
            display: inline-block;
        }

        .nav-bar{
            margin: none;
            display: flex;

            columns: 2;
            align-items: center;


            width: 100%;
        }
        .nav-bar nav{
            width: 100%;
        }
            .nav-bar ul li{
                display: inline-block ;
                margin: 0em 1em 0em;
            }

.search-bar{
    background-color: var(--background-color);
    border: 1px solid var(--accent_color2);
    width: 100%;
    padding: 0.25em 0em  0.25em 0.5em;
}
    .search-bar input{
        background-color: transparent;
        border: none;
        color: var(--accent_color1);

        width: 85%;
    }
        
/* ------------------ WEBSITE BODY CONTAINER CSS ------------------ */
.website-content-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    column-gap: 1em;
}
.section-container{
    display: grid;    
    grid-template-rows: auto;

    row-gap: 2em;
}
    .cont-section{
        border: 1px solid var(--accent_color2);
    }
        .content-header{
            height: 40px;
            background-color: var(--accent_color1);
            
            color: var(--background-color);

            display: flex;
            align-items: center;
        }
        .content-header-img{
            width: 55px;
            height: auto;

            float: left;
        }
        .cont-section-inner{
            padding: 1em;
            
        }

/* recently-updated CSS section */
.recently-updated{
    display: grid;
    
}
    .recently-updated-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 1em;
    }
        .anime-item{
            width:calc(100%) ;
            text-align: center;

            margin: 0;
            padding: 0;
        }
            .anime-item-poster{
                width: 100%;
                object-fit: cover;
            }
            .anime-item-details{
                padding: 1em;
                font-size: 0.8em;
            }
            .anime-item-details a{
                font-weight: bold;
            }

/* recently-added CSS section */
.recently-added{

}
.recently-added-inner{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;

    row-gap: 1em;
    column-gap: 1em;
}
    .recently-added-item{

        display: flex;
        align-items: center;
        gap: 1em;
        
    }
        .recently-added-item img{
            width: 95px;
            height: 95px;

            object-fit: cover;
        }
        .recently-added-item-description{
            font-size: 0.75em;
            line-height: 0.5em;
        }
            .genre{
                color: var(--accent_color2);
            }